/URSA-NetBeansProject/nbproject/private/
/URSA-NetBeansProject/nbproject/private/
/URSA-NetBeansProject/build/
/URSA-NetBeansProject/nbbuild/
/URSA-NetBeansProject/dist/
/URSA-NetBeansProject/nbdist/
/URSA-NetBeansProject/.nb-gradle/
